*,html{
    margin: 0px;
    padding: 0px;
    font-family: "museo-sans", -apple-system, BlinkMacSystemFont, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-image: url('../img/home.jpg');
    /* background-size: cover; */
    /* background-position: center; */
}

/* navbar start */
.navbar{
    background-color: white;
    height: 10px;
    font-size: 20px;
    padding: 20px 24px;
    opacity: 0.8;
    margin-bottom: 30px;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;

}

.navbar-kanan{
    float: right;
    margin-right: 40px;
    list-style: none;
}

.navbar-kiri li{
    float: left;
}

.navbar ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(108, 107, 107);
}

.scnd-nav{
    width: 100%;
    background-color: #3e3e3e;
    margin-top: 50px;
    opacity: 0.8;
    text-align: center;
    font-size: 20px;
    border-top: 1px solid #ffffff;
    z-index: 10;
    position: fixed;
    top: 0;
    cursor: pointer;
}

.scnd-nav a{
    color: white ;
    margin: 12px;
    display: inline-block;
}

.scnd-nav a:hover{
    border-bottom: 3px solid #adadad;
}
/* navbar end */

/* content-start */
.content-wrapper{
    border: 1px solid transparent;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    padding: 28px;
    
}

.container{
    background-color: #d8d8d8;
    border-radius: 15px;
    padding: 12px;
}

.content-wrapper li{
    font-size: 22px;
    font-weight: bold;    
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
    width: 40%;
}

main{
    margin: 0 200px 0 200px;
}

content-4{
    line-height: 10px;
}

span{
    font-weight: bold;
}
/* content-end */

/* footer-start */
footer{
    position: absolute;
    background: #3e3e3e;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    opacity: 0.9;
}

.footer-content{
    display: flex;
    justify-content: center;
    padding: 30px 47%;
}

.footer-content a{
    color: white;
    margin: 0 12px;
}

.copyright{
    color: white;
    text-align: center;
}
/* footer-end */