*,html{
    margin: 0px;
    padding: 0px;
    font-family: "museo-sans", -apple-system, BlinkMacSystemFont, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-image: url('../img/home.jpg');
    background-size: cover; 
    /* background-position: center; */
}

/* navbar start */
.navbar-brand{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-kanan ul{
    list-style-type: none;
}

.navbar-kanan{
    padding-top: 10px;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #ccc !important;
}
/* navbar end */

/* content-start */
.content-wrapper{
    border: 1px solid transparent;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    padding: 28px;
    
}

.containers{
    background-color: #d8d8d8;
    border-radius: 15px;
    padding: 12px;
}

.content-wrapper li{
    font-size: 22px;
    font-weight: bold;    
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
    width: 40%;
    padding-left: 24px;
}

main{
    margin: 0 200px 0 200px;
}

content-4{
    line-height: 10px;
}

span{
    font-weight: bold;
}
/* content-end */

/* footer-start */
footer{
    height: 244px;
    background-color: #484848;
}

.footer-content{
    display: flex;
    justify-content : center;
    gap: 32px;
    padding: 94px 0;
}

.footer-content a{
    color: #929292;
}

.text{
    text-align: center;
    color: white;
}
/* footer-end */

/* responsive-start */
@media only screen and (max-width: 600px){
    main{
        margin: 0 auto;
    }

    .container{
        padding: 0 auto;
    } 

    .img1{
        width: 200px;
    }

    .content-wrapper li{
        width: auto;
    }
}
/* responsive-end */