*,html{
    margin: 0;
    padding: 0;
    font-family: "museo-sans", -apple-system, BlinkMacSystemFont, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-image: url(../img/home.jpg);
    background-size: cover;
}

/* navbar-start */

.navbar-kanan{
    padding-top: 10px;
}

nav{
    margin-bottom: 0;
}

/* navbar-end */

/* content-start */
main{
    background: #c3c3c5;
    margin: 20px 200px ;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
}

.colmn1{
    display: flex;
    font-weight: bold;
}

textarea{
    background: #949495;
    color: white;
    border-radius: 2px;
}
/* content-end */

/* done-btn-start */
.done-btn{
    border-radius: 8px;
    background: #949495;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 14px;
    width: 10%;
}

.done-btn:hover { /* hover on */
    transition: 1s ease-in-out;
    background: #f7f7f9;
    color: #3c3c3c;
}

.done-btn { /* hover off */
    transition: 1s ease-out;
}
/* done-btn-end */

/* logout-btn-start */
.logout-btn a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
/* logout-btn-end */