body{
    background-color: #4a5056;
    color: #fff;
}

.box{
    border: solid 1px #000;
    border-radius: 10px;
    margin-bottom: 12px;
    background-color: #dce9ff ;
    width: 30%;
    color: #000 ;
}



.container li{
    padding: 12px;
}


